* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #000;
  color: #fff;
}
/* HERO SECTION */

.hero {
  height: 100vh;
  background:
    linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),
    url("assets/images/hero-banner.jpg");

  background-size: cover;
  background-position: center;

  padding: 20px 8%;
  position: relative;
}

/* NAVBAR */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 150px;
  cursor: pointer;
}
/* BUTTONS */

.sign-in-btn {
  background-color: #e50914;
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  transition: 0.3s;
}

.sign-in-btn:hover {
  background-color: #ff1f1f;
}

/* HERO CONTENT */

.hero-content {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

  text-align: center;
  width: 100%;
  max-width: 900px;
  padding: 20px;
}

.hero-content h1 {
  font-size: 64px;
  font-weight: 700;
  margin-bottom: 20px;
}

.hero-content h3 {
  font-size: 28px;
  font-weight: 400;
  margin-bottom: 20px;
}

.hero-content p {
  font-size: 18px;
  margin-bottom: 25px;
}

/* EMAIL SIGNUP FORM */

.email-signup {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.email-signup input {
  width: 60%;
  max-width: 500px;

  padding: 18px;
  border: none;
  outline: none;

  border-radius: 4px;
  font-size: 16px;
}

.email-signup button {
  background-color: #e50914;
  color: white;

  border: none;
  padding: 18px 28px;

  border-radius: 4px;
  font-size: 18px;
  font-weight: 600;

  cursor: pointer;
  transition: 0.3s;
}

.email-signup button:hover {
  background-color: #ff1f1f;
}

/* TRENDING SECTION */

.trending {
  padding: 60px 10%;
  background: #000;
  color: #fff;
}

.trending h2 {
  font-size: 32px;
  margin-bottom: 20px;
}

/* WRAPPER */
.carousel-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

/* SCROLLABLE ROW */
.carousel {
  display: flex;
  gap: 15px;
  overflow-x: auto;
  scroll-behavior: smooth;
  padding: 10px 0;

  scrollbar-width: none; /* Firefox */
}

.carousel::-webkit-scrollbar {
  display: none; /* Chrome */
}

/* EACH MOVIE CARD */
.movie {
  position: relative;
  min-width: 180px;
  transition: transform 0.3s;
}

.movie img {
  width: 100%;
  border-radius: 8px;
  cursor: pointer;
}

.movie:hover {
  transform: scale(1.08);
}

/* RANK NUMBER STYLE */
.rank {
  position: absolute;
  bottom: 10px;
  left: -10px;

  font-size: 70px;
  font-weight: 800;
  color: white;
  -webkit-text-stroke: 2px black;
}

/* ARROWS */
.arrow {
  background: rgba(0,0,0,0.6);
  border: none;
  color: white;

  font-size: 30px;
  padding: 10px 15px;
  cursor: pointer;

  z-index: 10;
}

.arrow:hover {
  background: rgba(255,255,255,0.2);
}